/bin/
/logs/
/.settings/
/classes
/*.ps
/MegaMekLab.jar
.DS_Store
/.gradle/
/build/
/out/
/settings_local.gradle
/.classpath
/.project
/properties_local.gradle
/.idea/
/.vscode/

/megameklab/logs/
/megameklab/.idea/
/megameklab/.gradle/
/megameklab/mmconf/*.preferences
/megameklab/build/

# Data Files
data/fonts/
data/mechfiles/
!data/mechfiles/UnitVerifierOptions.xml
