/bin/
/logs/
/.settings/
/classes
/*.ps
/MegaMekLab.jar
.DS_Store
/.gradle/
/build/
/out/
/settings_local.gradle
/.classpath
/.project
/properties_local.gradle
/.idea/
/.vscode/

/megameklab/.gradle/
/megameklab/.idea/
/megameklab/.settings/
/megameklab/.vscode/
/megameklab/bin/
/megameklab/build/
/megameklab/data/fonts/
/megameklab/logs/
/megameklab/mmconf/*.preferences
/megameklab/mmconf/*.properties
/megameklab/mmconf/*.properties.bak
/megameklab/mmconf/recent_boards.yml
/megameklab/mmconf/clientsettings.xml
/megameklab/out/
/megameklab/.classpath
/megameklab/.project
/megameklab/sheets

/megameklab/docs/OfficiaulUnitList.txt
/megameklab/docs/mml-revision.txt
/megameklab/MegaMekLab.l4j.ini
units.cache
