/bin/
/logs/
/.settings/
/classes
/*.ps
/MegaMekLab.jar
.DS_Store
/.gradle/
/build/
/out/
/settings_local.gradle
/.classpath
/.project
/properties_local.gradle
/.idea/
/.vscode/

/megameklab/.gradle/
/megameklab/.idea/
/megameklab/.settings/
/megameklab/.vscode/
/megameklab/bin/
/megameklab/build/
/megameklab/data/fonts/
/megameklab/logs/
/megameklab/mmconf/*.preferences
/megameklab/mmconf/*.properties
/megameklab/mmconf/*.properties.bak
/megameklab/mmconf/clientsettings.xml
/megameklab/out/
/megameklab/.classpath
/megameklab/.project
/megameklab/sheets

/megameklab/docs/OfficiaulUnitList.txt
/megameklab/docs/mml-revision.txt
/megameklab/MegaMekLab.l4j.ini
units.cache
.mml_tmp
*.iml

/megameklab/docs/README.md
/megameklab/docs/LICENSE*

# Added for converted output
/megameklab_converted_output/

# Next.js project files
/battletech-editor-app/node_modules/
/battletech-editor-app/.next/
/battletech-editor-app/out/
/battletech-editor-app/.DS_Store
/battletech-editor-app/*.log
/battletech-editor-app/npm-debug.log*
/battletech-editor-app/yarn-debug.log*
/battletech-editor-app/yarn-error.log*
/battletech-editor-app/.pnp/
/battletech-editor-app/.pnp.js
