name: Checkstyle

on:
  pull_request:
    branches: [ main ]

jobs:
  checkstyle:
    runs-on: ${{ matrix.os }}

    outputs:
      mmRepo: ${{ steps.find_mm.outputs.mmRepo }}
      mmBranch: ${{ steps.find_mm.outputs.mmBranch }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java-distribution: [ temurin ]
        java-version: [ 25 ]
      fail-fast: false

    steps:
      - name: Checkout Data Repo
        uses: actions/checkout@v6
        with:
          repository: megamek/mm-data
          path: mm-data

      - name: Find the Right MegaMek Branch
        id: find_mm
        shell: bash {0}
        run: |
          git ls-remote --exit-code --heads ${{ github.event.pull_request.head.repo.owner.html_url }}/megamek.git ${{ github.event.pull_request.head.ref }}
          if [ "$?" == "0" ]
          then
            echo "mmRepo=${{ github.event.pull_request.head.repo.owner.login }}/megamek" >> $GITHUB_OUTPUT
            echo "mmBranch=${{ github.event.pull_request.head.ref }}" >> $GITHUB_OUTPUT
          else
            echo "mmRepo=MegaMek/megamek" >> $GITHUB_OUTPUT
            echo "mmBranch=main" >> $GITHUB_OUTPUT
          fi
          exit 0

      - name: Checkout MegaMek
        uses: actions/checkout@v6
        with:
          repository: ${{ steps.find_mm.outputs.mmRepo }}
          ref: ${{ steps.find_mm.outputs.mmBranch }}
          path: megamek

      - name: Checking out MegaMekLab
        uses: actions/checkout@v6
        with:
          path: megameklab

      - name: Set up ${{ matrix.java-distribution }} JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          distribution: ${{ matrix.java-distribution }}
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Checkstyle
        working-directory: megameklab
        run: ./gradlew checkstyleMain checkstyleTest

      - name: Upload Test Logs on Failure
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: cd-failure-logs
          path: ./megameklab/megameklab/build/reports/
